beautifulsoup4==4.13.3
blessed==1.20.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
linkify-it-py==2.0.3
lxml==5.3.1
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.6
pygments==2.19.1
requests==2.32.3
rich==13.9.4
six==1.17.0
soupsieve==2.6
textual==1.0.0
typing-extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.2.3
urwid==2.6.16
wcwidth==0.2.13
